<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      consectetur non alias commodi et laboriosam unde quo ex corrupti iusto ad
      dolore in ea nemo ullam reiciendis laborum, necessitatibus quas officiis
      voluptates nulla? Laborum, quasi eligendi error aspernatur exercitationem
      quibusdam fuga maxime explicabo neque consequatur, voluptas veritatis
      molestias quam nobis.
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
