<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo odio atque
      maxime odit. Magni repellat reiciendis similique sapiente esse quos, culpa
      nemo eius aliquam veniam, eos tempora quasi. Eum, voluptatum ullam vel
      voluptate eius debitis eaque sed provident est ipsum mollitia minus.
      Voluptates eligendi quam alias id illum quia officia?
    </p>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
